select,
input {
  box-sizing: border-box;
  display: inline-block;
  min-height: 30px;
  height: 30px;
  padding: 0 10px;
  font-size: 0.875rem;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
}

x-select li {
  line-height: 1.8;
  padding: 0 10px;
}
